{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<main>
    <h1>Page de contact</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    

    {{ form(form, {'method': 'POST'}) }}
  

</main>
{% endblock %}
